* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.h4, h4 {
    margin-bottom: 10px;
    color: #007AFF;
    font-family: open sans;
}

p {
    font-family: open sans;
    font-weight: 400px;
}

.footer-section {
    background: #0081FE;
}

.border-bottom {
    padding-top: 80px !important;
    color: #ffffff;
    margin-left: 50px;
    margin-right: 50px;
    opacity: 0.3;
}

.border-top {
    color: #ffffff;
    margin-left: 50px;
    margin-right: 50px;
    opacity: 0.2;
}

.footer-img {
    width: fit-content;
}

@media (max-width: 426px) {
    .flip {
        flex-direction: column-reverse;
        }
    .system {
        display: none;
    }
    .fw-bolder {
        font-size: 24px !important;
    }
    .telephone {
        display: none;
    } 
    .last-line {
        display: none;
    }
    p {
        font-size: 14px;
    }
    .h4, h4 {
        font-size: 18px;
    }
}

@media (min-width: 768px) {
    .mobile {
        display: none !important;
    }
    .address {
        display: none !important;
    }
    .line {
        display: none !important;
    }
    .navbar-brand {
        display: unset !important;
    }
    .fw-bolder {
        font-size: 36px !important;
    }
    p {
        font-size: 16px;
    }
    .h4, h4 {
        font-size: 29px;
    }
}

@media (min-width: 992px) {
    .fw-bolder {
        font-size: 54px !important;
    }
    p {
        font-size: 18px;
    }
    .h4, h4 {
        font-size: 29px;
    }
}